@import "./variables.scss";
.pending {
  color: $colorTextPending;
}

span.completed {
  color: $colorTextCompleted;
  background-color: $colorBgCompleted;
}

.cancelled {
  color: $colorTextCancelled;
  background-color: $colorBgCancelled;
}

.on.hold {
  color: $colorTextOnHold;
  background-color: $colorBgOnHold;
}

.attended,
span.active {
  color: $colorTextActive;
  background-color: $colorBgActive;
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  border-color: $primaryBorderActiveColor !important;
  box-shadow: none !important;
}
.info-cards-body > .ant-card-body {
  display: flex;
  justify-content: center;
  width: 100%;
}

:where(.css-dev-only-do-not-override-m477y0).ant-dropdown
  .ant-table-filter-dropdown
  .ant-dropdown-menu-item-selected
  .ant-checkbox-wrapper
  + span {
  color: $secondaryTextColor;
}

.appointment-table-card > .ant-card-body {
  padding-bottom: 0;
}
.custom-card > .ant-card-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.custom-card-login > .ant-card-body {
  height: 100%;
}
@media (min-width: 375px) and (max-width: 787px) {
  .custom-card-login > .ant-card-body {
    flex-direction: column;
    width: 100%;
  }
  .ant-steps-item-description {
    visibility: hidden;
  }
}
.ant-form-item .ant-form-item-explain-error {
  position: absolute;
}
.ant-btn-default:disabled,
.ant-btn-default.ant-btn-disabled {
  color: rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.04);
}
.custom-table .ant-pagination-item:not(.ant-pagination-item-active):hover a {
  color: $secondaryTextColor;
}
.ant-pagination .ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination .ant-pagination-next:hover .ant-pagination-item-link {
  color: $secondaryTextColor;
}
.custom-table
  .ant-pagination
  .ant-pagination-item.ant-pagination-item-active
  :where(a, li) {
  color: $secondaryTextColor;
  border-color: $secondaryTextColor;
  background-color: $primaryBgColor;
}

:where(.css-dev-only-do-not-override-m477y0).ant-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-item-selected {
  background-color: $secondayBgColor;
}
:where(.css-dev-only-do-not-override-m477y0).ant-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-item-selected:hover {
  background-color: $secondayBgColorLight;
}

.custom-form .ant-form-item {
  margin-bottom: 10px;
}
.custom-form .ant-form-item .ant-form-item-label > label {
  font-size: 1.3em;
  height: auto;
}
.custom-card .ant-steps-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-steps .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: $secondaryTextColor;
}
.ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: $secondaryTextColor;
}
.custom-form-profile .ant-input,
.custom-form-profile
  .ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector {
  border-radius: 8px;
}
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-selected,
:where(.css-dev-only-do-not-override-1yr7evd).ant-dropdown-menu-submenu
  .ant-dropdown-menu
  .ant-dropdown-menu-item-selected,
:where(.css-dev-only-do-not-override-1yr7evd).ant-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-submenu-title-selected,
:where(.css-dev-only-do-not-override-1yr7evd).ant-dropdown-menu-submenu
  .ant-dropdown-menu
  .ant-dropdown-menu-submenu-title-selected {
  background-color: $secondaryTextColor;
}
.ant-table-wrapper .ant-table {
  min-height: 63vh;
}
.dark .ant-input[disabled],
.dark .ant-btn-default:disabled,
.ant-btn-default.ant-btn-disabled {
  color: $buttonDisabledColor;
}

:where(.css-dev-only-do-not-override-1yr7evd).ant-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-item-selected:hover,
:where(.css-dev-only-do-not-override-1yr7evd).ant-dropdown-menu-submenu
  .ant-dropdown-menu
  .ant-dropdown-menu-item-selected:hover,
:where(.css-dev-only-do-not-override-1yr7evd).ant-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-submenu-title-selected:hover,
:where(.css-dev-only-do-not-override-1yr7evd).ant-dropdown-menu-submenu
  .ant-dropdown-menu
  .ant-dropdown-menu-submenu-title-selected:hover,
:where(.css-dev-only-do-not-override-1yr7evd).ant-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-item-selected-active,
:where(.css-dev-only-do-not-override-1yr7evd).ant-dropdown-menu-submenu
  .ant-dropdown-menu
  .ant-dropdown-menu-item-selected-active,
:where(.css-dev-only-do-not-override-1yr7evd).ant-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-submenu-title-selected-active,
:where(.css-dev-only-do-not-override-1yr7evd).ant-dropdown-menu-submenu
  .ant-dropdown-menu
  .ant-dropdown-menu-submenu-title-selected-active {
  background-color: $secondayBgColorLight;
}
.ant-picker-large {
  width: 100%;
}
.ant-picker-focused.ant-picker {
  box-shadow: none;
}
