$pendingColor: grey;
$cancelledColor: #f0675b;
$cancelledColorBg: #feefee;
$successColor: #3fd6ab;
$successColorBg: #e6faf5;
$colorTextPending: grey;
$colorTextCancelled: #f0675b;
$colorBgCancelled: #feefee;
$colorTextCompleted: #002c7c;
$colorBgCompleted: #e5eeff;
$colorTextActive: #47706c;
$colorBgActive: #ecf9f8;
$colorTextOnHold: #ff7c00;
$colorBgOnHold: #ffd6ab;
$pagination-item-bg: "red";
$primaryBorderActiveColor: #d9d9d9;
$secondaryTextColor: white;
$primaryBgColor: #19504c;
$secondayBgColor: #d7e8e4;
$secondayBgColorLight: #b2e8db;
$buttonDisabledColorDark: rgba(255, 255, 255, 0.4);
$buttonDisabledColorLight: rgba(0, 0, 0, 0.25);
$buttonDisabledColorLightBg: rgba(0, 0, 0, 0.04);
