$colorTextPending: grey;
$colorTextCancelled: #f0675b;
$colorBgCancelled: #feefee;
$colorTextCompleted: #002c7c;
$colorBgCompleted: #e5eeff;
$colorTextActive: #47706c;
$colorBgActive: #ecf9f8;
$colorTextOnHold: #ff7c00;
$colorBgOnHold: #ffd6ab;
$pagination-item-bg: "red";
